@import url('https://fonts.googleapis.com/css2? family= Rubik+Bubbles & display=swap');
html, body {
  background-color:#D2691E;
  height: 100%;
  width: 100%;   
  font-family: 'Rubik Bubbles', cursive;
  text-align: center ;
}
img{
  width:350px;
  height:500px;
}